/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.autoreplace-setting-section .settings-delete-btn {
    color: red;
}

.autoreplace-setting-section .autoreplace-setting-error {
    color: red;
    border-color: red;
}
